.categories-main,
.categories-cards {
  width: calc(100% - 158px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 79px;
}

.categories-main {
  padding-top: 25px;
}

.categories-cards{
  padding-top: 25px;
  position: relative;
}

@media (max-width: $content-smallest-width) {
  .categories-main,
  .categories-cards {
    width: auto;
    padding: 0 29px;
  }
}
