.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 143px;
  max-width: $content-width;
  padding: 0 79px 0 79px;

  &__menu {
    cursor: pointer;
  }

  .title {
    font-size: 2rem;
    line-height: initial;
    padding: 0
  }

  &__switch {
    position: relative;
    @include size(121px,40px);
    border-radius: 25px;
    top: 16px;
  }
}

@media (max-width: $content-little-width) {
  .title {
    font-size: 1.5rem;
  }
}