.play-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $content-width;

  .star-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 85px;
    width: 84%;
    overflow: hidden;

    .star {
      margin-left: -20px;
      transform: scale(0.75);
    }
  }
}

