body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: white;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  font-family: Georgia, serif;
  width: 207px;
  height: 52px;
  padding: 16px 42px;
  background: white;
  border-radius: 26px;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4c4c4c;
  transition: 0.2s;
}

.header__content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.wrapper {
  margin: 0 auto;
  background: url(../../../assets/images/start-screen-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  background-size: cover;
  width: 1280px;
  height: 908px;
}

.header .header__content {
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: normal;
}
.header .logo .logo__title {
  font-family: Georgia, serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 0 0 11px 0;
}
.header .logo .logo__subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}
.header .nav-menu {
  display: flex;
}
.header .nav-menu .nav-menu__item {
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}
.header .nav-menu .nav-menu__item.active, .header .nav-menu .nav-menu__item:active {
  border-bottom: 3px solid #f1cdb3;
}
.header .nav-menu .nav-menu__item.active, .header .nav-menu .nav-menu__item:hover {
  color: #fafafa;
}
.header .nav-menu .nav-menu__item:not(:first-child) {
  margin-left: 35px;
}
.header .header-lines {
  display: none;
}

.not-only {
  margin: 0 auto;
}
.not-only .not-only__content {
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.not-only .not-only__text {
  width: 460px;
  height: 321px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 42px 78px 0;
  font-style: normal;
  font-weight: normal;
}
.not-only .not-only__title {
  font-family: Georgia, serif;
  width: 310px;
  font-size: 44px;
  line-height: 130%;
  color: white;
}
.not-only .not-only__subtitle {
  font-family: Arial, sans-serif;
  margin: 42px 0px;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}
.not-only .not-only__button {
  background: #f1cdb3;
  letter-spacing: 0.06em;
  font-size: 17px;
}
.not-only .not-only__button:hover {
  background: #fddcc4;
}
.not-only .not-only__img {
  width: 698px;
  height: 728px;
}

.about {
  width: 1280px;
  height: 588px;
  background: white;
  margin: 0 auto;
}
.about .about__content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  width: 1280px;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}
.about .about__content .about__img {
  width: 300px;
  height: 408px;
  margin-left: 156px;
}
.about .about__content .about-text {
  display: flex;
  max-width: 430px;
  flex-direction: column;
  padding-right: 156px;
}
.about .about__content .about-text .about__title {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  max-width: 370px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about .about__content .about-text .about__subtitle {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  margin: 25px 0;
}
.about .about__content .about-text .about__subheading {
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

.our-friend {
  margin: 0 auto;
  font-family: Georgia, serif;
  background: #f6f6f6;
  font-style: normal;
  font-weight: normal;
  width: 1280px;
  height: 877px;
}
.our-friend .our-friend__content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 100px 0;
}
.our-friend .our-friend__content .our-friend__title {
  width: 400px;
  height: 90px;
  text-align: center;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friend .our-friend__content .our-friend-slider {
  display: flex;
  align-items: center;
  margin: 60px 0;
}
.our-friend .our-friend__content .our-friend-slider .btn {
  width: 52px;
  height: 52px;
  display: flex;
  padding: 22px 0px 0px 18px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-size: 0;
  background: #f6f6f6;
  color: transparent;
}
.our-friend .our-friend__content .our-friend-slider .btn:hover {
  background: #fddcc4;
}
.our-friend .our-friend__content .our-friend-slider .slider__btn-left {
  margin-right: 53px;
}
.our-friend .our-friend__content .our-friend-slider .slider__btn-right {
  margin-left: 53px;
}
.our-friend .our-friend__content .our-friend-slider .our-friend-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 35px;
  background: #fafafa;
  border-radius: 9px;
  transition: 0.2s;
}
.our-friend .our-friend__content .our-friend-slider .our-friend-card:nth-child(3) {
  margin: 0 90px;
}
.our-friend .our-friend__content .our-friend-slider .our-friend-card.active-friend, .our-friend .our-friend__content .our-friend-slider .our-friend-card:hover {
  background: white;
}
.our-friend .our-friend__content .our-friend-slider .our-friend-card__img {
  width: 200px;
  height: 240px;
}
.our-friend .our-friend__content .our-friend-slider .our-friend-card__name {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 30px 0;
}
.our-friend .our-friend__content .our-friend-slider .our-friend-card__btn {
  width: 188px;
  font-size: 17px;
  padding: 13px 43px;
  border: 2px solid #fddcc4;
  border-radius: 100px;
  background: transparent;
}
.our-friend .our-friend__content .our-friend-slider .our-friend-card__btn:hover {
  background: #fddcc4;
}
.our-friend .our-friend__content .our-friend__btn {
  width: 261px;
  height: 52px;
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.our-friend .our-friend__content .our-friend__btn:hover {
  background: #fddcc4;
}

.help {
  margin: 0 auto;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  width: 1280px;
  height: 611px;
  color: #545454;
  letter-spacing: 0.06em;
}
.help .help__content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 0 100px 0;
}
.help .help__content .help__title {
  max-width: 310px;
  text-align: center;
  font-size: 35px;
  line-height: 130%;
  margin-bottom: 60px;
  letter-spacing: 0.06em;
}
.help .help__content .help__list {
  width: 1026px;
  height: 281px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.help .help__content .help__list .help-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help .help__content .help__list .help-list__item:first-child {
  margin-bottom: 55px;
}
.help .help__content .help__list .help-list__item:not(:first-child) {
  margin: 0 0 57px 121px;
}
.help .help__content .help__list .help-list__item:nth-child(n+6) {
  margin: 0 61px 0 61px;
}
.help .help__content .help__list .help-list__img {
  margin-bottom: 30px;
}
.help .help__content .help__list .help-list__text {
  font-size: 20px;
  line-height: 115%;
}

.in-addition {
  margin: 0 auto;
  width: 1280px;
  height: 464px;
  background: #f6f6f6;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
}
.in-addition .in-addition__content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 100px 0;
}
.in-addition .in-addition__content .in-addition-content__img {
  width: 505px;
  height: 261px;
}
.in-addition .in-addition__content .in-addition__information {
  width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.in-addition .in-addition__content .in-addition__information .in-addition__title {
  max-width: 300px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.in-addition .in-addition__content .in-addition__information .in-addition__subheading {
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.in-addition .in-addition__content .in-addition__information .in-addition__credit-card {
  width: 318px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: #f1cdb3;
  border-radius: 9px;
  text-decoration: none;
  transition: 0.2s;
}
.in-addition .in-addition__content .in-addition__information .in-addition__credit-card .in-addition-credit-card__icon {
  margin-right: 13px;
}
.in-addition .in-addition__content .in-addition__information .in-addition__credit-card .in-addition-credit-card__content {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  cursor: pointer;
}
.in-addition .in-addition__content .in-addition__information .in-addition__credit-card:hover {
  background: #fddcc4;
}
.in-addition .in-addition__content .in-addition__information .in-addition__legal-info {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  margin-top: 20px;
}

.footer {
  background: url(../../../assets/images/footer-background.png);
  width: 1280px;
  height: 350px;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  margin: 0 auto;
}
.footer .footer__content {
  height: 310px;
  padding: 27px 40px 0px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 160px;
}
.footer .footer__content .footer__contacts {
  margin-top: 35px;
}
.footer .footer__content .footer__contacts .footer-contacts__title {
  width: 279px;
  height: 90px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: white;
}
.footer .footer__content .footer__contacts .footer-contacts__email {
  display: flex;
  margin-top: 40px;
  text-decoration: none;
}
.footer .footer__content .footer__contacts .footer-contacts__email .footer-contacts-email__email {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 20px;
  padding-top: 5px;
}
.footer .footer__content .footer__contacts .footer-contacts__telephone {
  display: flex;
  margin-top: 33px;
  padding-top: 10px;
  text-decoration: none;
}
.footer .footer__content .footer__contacts .footer-contacts__telephone .footer-contacts-telephone__telephone {
  font-size: 20px;
  line-height: 115%;
  color: #f1cdb3;
  padding-left: 20px;
  border-bottom: none;
  padding-top: 5px;
  letter-spacing: 0.06em;
}
.footer .footer__content .footer__location {
  margin-top: 35px;
  margin-left: -10px;
  text-decoration: none;
}
.footer .footer__content .footer__location .footer-location__title {
  width: 271px;
  height: 90px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: white;
}
.footer .footer__content .footer__location .footer-location__usa,
.footer .footer__content .footer__location .footer-location__london {
  display: flex;
  margin-top: 32px;
  text-decoration: none;
}
.footer .footer__content .footer__location .footer-location__usa h4,
.footer .footer__content .footer__location .footer-location__london h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 17px;
}
.footer .footer__content .footer__location .footer-location__london {
  padding-top: 4px;
}
.footer .footer__content .footer__img {
  width: 300px;
  height: 310px;
  margin-top: 13px;
}
.footer .footer-hover:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 768px;
    height: 1165px;
    background: url(../../../assets/images/start-screen-background-768.jpg);
  }

  .header {
    width: 768px;
    height: 120px;
    margin-left: 0;
  }
  .header .header__content {
    width: 708px;
    height: 0;
    margin-left: 30px;
  }

  .not-only .not-only__content {
    display: grid;
    grid-template-columns: 1fr;
    width: 768px;
  }
  .not-only .not-only__content .not-only__text {
    margin: 29px 20%;
  }
  .not-only .not-only__content .not-only__text .not-only__button {
    margin-left: 27.3%;
  }
  .not-only .not-only__content .not-only__img {
    width: 569px;
    height: 593px;
    margin: 72px 0px 0px 169px;
  }

  .about {
    width: 768px;
    height: 1048px;
  }
  .about .about__content {
    width: 437px;
    flex-flow: column wrap;
    margin: 81px 164px;
  }
  .about .about__content .about-text {
    width: 436px;
    height: 380px;
    max-width: 434px;
    order: 1;
    padding: 0;
  }
  .about .about__content .about__img {
    margin-top: 80px;
    order: 2;
    margin-left: 0;
  }

  .our-friend {
    width: 768px;
    height: 877px;
    margin-top: -81px;
  }
  .our-friend .our-friend__content {
    width: 708px;
    margin: 0 31px;
  }
  .our-friend .our-friend__content .our-friend-slider {
    width: 729px;
    padding-left: 16px;
  }
  .our-friend .our-friend__content .our-friend-slider .our-friend-card:nth-child(3) {
    margin: 0 20px 0 41px;
  }
  .our-friend .our-friend__content .our-friend-slider .card-3 {
    display: none;
  }
  .our-friend .our-friend__content .our-friend-slider .slider__btn-left {
    margin-right: 13px;
  }
  .our-friend .our-friend__content .our-friend-slider .slider__btn-right {
    margin-left: -9px;
  }

  .help {
    width: 768px;
    height: 779px;
  }
  .help .help__content {
    width: 768px;
  }
  .help .help__content .help__list {
    width: 768px;
    height: 449px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 55px;
  }
  .help .help__content .help__list .help-list__item:first-child {
    margin-bottom: 0;
  }
  .help .help__content .help__list .help-list__item:not(:first-child) {
    margin: 0;
  }
  .help .help__content .help__list .help-list__item:nth-child(n+6) {
    margin: 0;
  }
  .help .help__content .help__list .help-list__item:nth-child(3n+1) {
    margin-left: 53px;
  }
  .help .help__content .help__list .help-list__item:nth-child(3n+3) {
    margin-right: 53px;
  }

  .in-addition {
    width: 768px;
    height: 783px;
  }
  .in-addition .in-addition__content {
    width: 505px;
    flex-flow: column wrap;
    margin: 0 102px;
  }
  .in-addition .in-addition__content .in-addition__information {
    order: 1;
  }
  .in-addition .in-addition__content .in-addition-content__img {
    margin-top: 60px;
    margin-left: 28px;
    order: 2;
  }

  .footer {
    width: 768px;
    height: 639px;
    background: url("./../../../assets/images/footer-gradient-background-768.png");
  }
  .footer .footer__content {
    width: 688px;
    height: 609px;
    dispay: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 120px;
    padding: 21px 40px 0px 40px;
  }
  .footer .footer__content .footer__contacts {
    margin-left: 25px;
    margin-top: 9px;
  }
  .footer .footer__content .footer__contacts .footer-contacts-email__email {
    padding-top: 4px;
  }
  .footer .footer__content .footer__location {
    margin-left: -252px;
    margin-top: 11px;
    max-width: 302px;
  }
  .footer .footer__content .footer__location .footer-location__usa {
    margin-top: 8px;
  }
  .footer .footer__content .footer__location .footer-location__usa .footer-location-usa__icon {
    padding-top: 19px;
  }
  .footer .footer__content .footer__location .footer-location__usa h4 {
    padding-left: 21px;
    margin-top: 25px;
  }
  .footer .footer__content .footer__location .footer-location__london .footer-location-london__address {
    margin-left: 4px;
  }
  .footer .footer__content .footer__location .footer-location__london .footer-location-london__icon {
    margin-top: -6px;
  }
  .footer .footer__content .footer__img {
    margin-top: -57px;
    padding-left: 195px;
    width: 300px;
    height: 315px;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    width: 320px;
    height: 823px;
    background: url(../../../assets/images/start-screen-background-320.jpg);
  }

  .header {
    width: 320px;
    height: 120px;
  }
  .header .header__content {
    width: 300px;
    height: 60px;
    padding-top: 30px;
    margin-left: 10px;
    display: flex;
  }
  .header .header__content .nav-menu {
    display: none;
  }
  .header .header__content .header-lines {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 22px;
    margin-right: 40px;
  }
  .header .header__content .header-lines .line-1, .header .header__content .header-lines .line-2, .header .header__content .header-lines .line-3 {
    border-bottom: 2px solid #f1cdb3;
  }
  .header .header__content .header-lines .line-2, .header .header__content .header-lines .line-3 {
    padding-top: 8px;
  }

  .not-only .not-only__content {
    display: grid;
    grid-template-columns: 1fr;
    width: 320px;
    margin-top: 1px;
  }
  .not-only .not-only__content .not-only__text {
    width: 300px;
    height: 296px;
    margin: 30px 0 30px 10px;
  }
  .not-only .not-only__content .not-only__text .not-only__title {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: -5px;
  }
  .not-only .not-only__content .not-only__text .not-only__subtitle {
    text-align: center;
  }
  .not-only .not-only__content .not-only__text .not-only__button {
    margin-left: 15.3%;
    line-height: 110%;
  }
  .not-only .not-only__content .not-only__img {
    width: 260px;
    height: 272px;
    margin: 75px 0 0 15.625%;
  }

  .about {
    width: 320px;
    height: 974px;
  }
  .about .about__content {
    width: 300px;
    flex-flow: column wrap;
    margin: 42px 10px;
  }
  .about .about__content .about-text {
    width: 300px;
    height: 494px;
    max-width: 300px;
    order: 1;
    padding: 0;
  }
  .about .about__content .about-text .about__title {
    width: 293px;
    font-size: 25px;
    text-align: center;
    margin-left: 4px;
  }
  .about .about__content .about-text .about__subtitle, .about .about__content .about-text .about__subheading {
    text-align: justify;
    width: 275px;
    margin-left: 14px;
  }
  .about .about__content .about-text .about__subheading {
    margin-top: -3px;
  }
  .about .about__content .about__img {
    width: 260px;
    height: 354px;
    margin-top: 42px;
    order: 2;
    margin-left: 0;
  }

  .our-friend {
    width: 320px;
    height: 791px;
    margin-top: -42px;
  }
  .our-friend .our-friend__content {
    width: 300px;
    margin-left: 9px;
  }
  .our-friend .our-friend__content .our-friend__title {
    width: 300px;
    font-size: 25px;
    margin-top: -12.8%;
    margin-left: 2px;
  }
  .our-friend .our-friend__content .our-friend-slider {
    width: 270px;
    margin-top: -54px;
    margin-left: -6%;
  }
  .our-friend .our-friend__content .our-friend-slider .our-friend-card:nth-child(2) {
    order: 1;
  }
  .our-friend .our-friend__content .our-friend-slider .card-2, .our-friend .our-friend__content .our-friend-slider .card-3 {
    display: none;
  }
  .our-friend .our-friend__content .our-friend-slider .slider__btn-left {
    margin-top: 524px;
    margin-left: -84%;
    order: 2;
  }
  .our-friend .our-friend__content .our-friend-slider .slider__btn-right {
    margin-top: 524px;
    margin-left: 25%;
    order: 3;
  }
  .our-friend .our-friend__content .our-friend__btn {
    margin-top: -6%;
  }

  .help {
    width: 320px;
    height: 745px;
  }
  .help .help__content {
    width: 320px;
  }
  .help .help__content .help__title {
    font-size: 25px;
    margin-top: -38px;
    margin-bottom: 42px;
    width: 222px;
  }
  .help .help__content .help__list {
    width: 320px;
    height: 555px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
  }
  .help .help__content .help__list .help-list__img {
    max-width: 50px;
    margin-bottom: 20px;
  }
  .help .help__content .help__list .help-list__text {
    font-size: 15px;
  }
  .help .help__content .help__list .help-list__item:first-child {
    margin-bottom: 0;
  }
  .help .help__content .help__list .help-list__item:not(:first-child) {
    margin: 0;
  }
  .help .help__content .help__list .help-list__item:nth-child(n+6) {
    margin: 0;
  }
  .help .help__content .help__list .help-list__item:nth-child(3n+1) {
    margin-left: 0;
  }

  .in-addition {
    width: 320px;
    height: 542.2px;
  }
  .in-addition .in-addition__content {
    width: 300px;
    flex-flow: column wrap;
    margin: 0;
  }
  .in-addition .in-addition__content .in-addition__information {
    order: 1;
    width: 300px;
    margin: -38px -3px;
  }
  .in-addition .in-addition__content .in-addition__information .in-addition__title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 4px;
  }
  .in-addition .in-addition__content .in-addition__information .in-addition__subheading {
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 22px;
  }
  .in-addition .in-addition__content .in-addition__information .in-addition__credit-card {
    width: 281px;
    padding: 0;
    margin: 3px 9px;
  }
  .in-addition .in-addition__content .in-addition__information .in-addition__credit-card .in-addition-credit-card__content {
    font-size: 15px;
  }
  .in-addition .in-addition__content .in-addition__information .in-addition__legal-info {
    text-align: justify;
    width: 279px;
    margin-left: 10px;
  }
  .in-addition .in-addition__content .in-addition-content__img {
    width: 260px;
    height: 135.2px;
    margin: 79px 30px 0;
    order: 2;
  }

  .footer {
    width: 320px;
    height: 898px;
    background-image: url("./../../../assets/images/footer-gradient-background-320px.png");
  }
  .footer .footer__content {
    display: grid;
    grid-template-columns: 1fr;
    width: 240px;
  }
  .footer .footer__content .footer__contacts {
    margin: 10px -18px;
  }
  .footer .footer__content .footer__contacts .footer-contacts__title {
    text-align: center;
  }
  .footer .footer__content .footer__contacts .footer-contacts__email, .footer .footer__content .footer__contacts .footer-contacts__telephone {
    margin-left: -1px;
  }
  .footer .footer__content .footer__location {
    margin: -88px -15px;
  }
  .footer .footer__content .footer__location .footer-location__title {
    text-align: center;
  }
  .footer .footer__content .footer__location .footer-location__usa {
    margin-left: -15px;
  }
  .footer .footer__content .footer__location .footer-location__usa .footer-location-usa__address {
    width: 260px;
    height: 48px;
    font-size: 20px;
    line-height: 115%;
  }
  .footer .footer__content .footer__location .footer-location__london {
    margin-left: -16px;
  }
  .footer .footer__content .footer__img {
    width: 260px;
    height: 273px;
    margin: 58px -227px -23px -204px;
  }
}

/*# sourceMappingURL=style.css.map */
