$font-stack: Arial, sans-serif;
$font-stack2: Georgia, serif;

$color-light-xl: rgb(255, 255, 255);
$color-light-l: rgba(205,205,205,1);
$color-light-s: rgba(250,250,250,1);

$color-primary: rgb(241, 205, 179);
$color-primary-light: rgba(253,220,196,1);

$color-dark-l246: rgba(246,246,246,1);
$color-dark-s: rgba(205,205,205,1);
$color-dark-xl: rgba(76,76,76,1);
$color-dark-xl41: rgba(41,41,41,1);
$color-dark-l: rgb(84, 84, 84);
$color-dark-m: rgba(178,178,178,1);

$main-width: 1280px;
$main-width-middle: 768px;
$main-width-little: 320px;

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin font_normal(){
  font-style: normal;
  font-weight: normal;
}

@mixin content() {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}


body {
  font-family: $font-stack;
  @include font_normal();
  color: $color-light-xl;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  font-family: $font-stack2;
  @include size(207px,52px);
  padding: 16px 42px;
  background: $color-light-xl;
  border-radius: 26px;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-xl;
  transition: 0.2s;
}

.header__content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.wrapper {
  margin: 0 auto;
  background: url(../../../assets/images/start-screen-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  background-size: cover;
  @include size($main-width,908px);
}

// Header ********************************/
.header {
  .header__content {
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
    @include content();
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include font_normal();

    .logo__title {
      font-family: $font-stack2;
      font-size: 32px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: $color-primary;
      margin: 0 0 11px 0;
    }

    .logo__subtitle {
      font-family: $font-stack;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.1em;
    }
  }

  .nav-menu {
      display: flex;

      .nav-menu__item {
        font-size: 15px;
        line-height: 160%;
        color: $color-light-l;
        border-bottom: 3px solid transparent;
        transition: 0.3s;
        text-decoration: none;
        cursor: pointer;
      }

      .nav-menu__item.active, .nav-menu__item:active {
        border-bottom: 3px solid $color-primary;
      }

      .nav-menu__item.active, .nav-menu__item:hover {
        color: $color-light-s;
      }

      .nav-menu__item:not(:first-child) {
          margin-left: 35px;
      }
  }

  .header-lines {
    display: none;
  }

}

// Start-screen *********************/
.not-only {
  margin: 0 auto;

  .not-only__content {
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  .not-only__text {
    @include size(460px,321px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 42px 78px 0;
    @include font_normal();
  }

  .not-only__title {
    font-family: $font-stack2;
    width: 310px;
    font-size: 44px;
    line-height: 130%;
    color: $color-light-xl;
  }

  .not-only__subtitle {
    font-family: $font-stack;
    margin: 42px 0px;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
  }

  .not-only__button {
    background: $color-primary;
    letter-spacing: 0.06em;
    font-size: 17px;
  }

  .not-only__button:hover {
    background: $color-primary-light;
  }

  .not-only__img {
    @include size(698px,728px);
  }
}

// About *******************************/
.about {
  @include size($main-width,588px);
  background: $color-light-xl;
  margin: 0 auto;

  .about__content {
    @include content();
    width: 1280px;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;

    .about__img {
      @include size(300px,408px);
      margin-left: 156px;
    }

    .about-text {
      display: flex;
      max-width: 430px;
      flex-direction: column;
      padding-right: 156px;

      .about__title {
        font-family: $font-stack2;
        @include font_normal();
        max-width: 370px;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
      }

      .about__subtitle {
        font-family: $font-stack;
        font-size: 15px;
        line-height: 160%;
        color: $color-dark-xl;
        margin: 25px 0;
      }

      .about__subheading {
        font-size: 15px;
        line-height: 160%;
        color: $color-dark-xl;
      }
    }
  }
}

// Our friend ***************************/
.our-friend {
  margin: 0 auto;
  font-family: $font-stack2;
  background: $color-dark-l246;
  @include font_normal();
  @include size($main-width,877px);

  .our-friend__content {
    @include content();
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 100px 0;

    .our-friend__title {
      @include size(400px, 90px);
      text-align: center;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-dark-l;
    }

    .our-friend-slider {
      display: flex;
      align-items: center;
      margin: 60px 0;

      .btn {
        @include size(52px, 52px);
        display: flex;
        padding: 22px 0px 0px 18px;
        border: 2px solid $color-primary;
        border-radius: 100px;
        font-size: 0;
        background: $color-dark-l246;
        color: transparent;
      }

      .btn:hover {
        background: $color-primary-light;
      }

      .slider__btn-left {
        margin-right: 53px;
      }

      .slider__btn-right {
        margin-left: 53px;
      }

      .our-friend-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 35px;
        background: $color-light-s;
        border-radius: 9px;
        transition: 0.2s;
      }

      .our-friend-card:nth-child(3) {
        margin: 0 90px;
      }

      .our-friend-card.active-friend, .our-friend-card:hover {
        background: $color-light-xl;
      }

      .our-friend-card__img {
        @include size(200px,240px);
      }

      .our-friend-card__name {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        margin: 30px 0;
      }

      .our-friend-card__btn {
        width: 188px;
        font-size: 17px;
        padding: 13px 43px;
        border: 2px solid $color-primary-light;
        border-radius: 100px;
        background: transparent;
      }

      .our-friend-card__btn:hover {
        background: $color-primary-light;
      }
    }
      .our-friend__btn {
        @include size(261px,52px);
        padding: 15px 45px;
        background: $color-primary;
        border-radius: 100px;
        font-size: 18px;
        letter-spacing: 0.03em;
      }
      .our-friend__btn:hover {
        background: $color-primary-light;
      }
  }
}

// Help *********************************/
.help {
  margin: 0 auto;
  font-family: $font-stack2;
  @include font_normal();
  @include size($main-width,611px);
  color: $color-dark-l;
  letter-spacing: 0.06em;

  .help__content {
    @include content();
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0 100px 0;

    .help__title {
      max-width: 310px;
      text-align: center;
      font-size: 35px;
      line-height: 130%;
      margin-bottom: 60px;
      letter-spacing: 0.06em;
    }

    .help__list {
      @include size(1026px, 281px);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .help-list__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .help-list__item:first-child {
        margin-bottom: 55px;
      }

      .help-list__item:not(:first-child) {
        margin: 0 0 57px 121px;
      }

      .help-list__item:nth-child(n + 6) {
        margin: 0 61px 0 61px;
      }

      .help-list__img {
        margin-bottom: 30px;
      }

      .help-list__text {
        font-size: 20px;
        line-height: 115%;
      }
    }
  }
}

// In addition ***************************/
.in-addition {
  margin: 0 auto;
  @include size($main-width,464px);
  background: $color-dark-l246;
  font-family: $font-stack2;
  @include font_normal();

  .in-addition__content {
    @include content();
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px 0;

    .in-addition-content__img {
      @include size(505px, 261px);
    }

    .in-addition__information {
      @include size(380px,282px);
      display: flex;
      flex-direction: column;
      margin-left: 30px;

      .in-addition__title {
        max-width: 300px;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
      }

      .in-addition__subheading {
        margin: 20px 0;
        font-family: $font-stack;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
      }

      .in-addition__credit-card {
        @include size(318px,43px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        background: $color-primary;
        border-radius: 9px;
        text-decoration: none;
        transition: 0.2s;

        .in-addition-credit-card__icon {
          margin-right: 13px;
        }

        .in-addition-credit-card__content {
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: $color-dark-l;
          cursor: pointer;
        }
      }
      .in-addition__credit-card:hover {
        background: $color-primary-light;
      }

      .in-addition__legal-info {
        font-family: $font-stack;
        font-style: italic;
        font-size: 12px;
        line-height: 18px;
        color: $color-dark-m;
        margin-top: 20px;
      }
    }
  }
}

// Footer ******************************************/
.footer {
  background: url(../../../assets/images/footer-background.png);
  @include size($main-width, 350px);
  font-family: $font-stack2;
  @include font_normal();
  letter-spacing: 0.06em;
  margin: 0 auto;

  .footer__content {
    height: 310px;
    padding: 27px 40px 0px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 160px;

    .footer__contacts {
      margin-top: 35px;

      .footer-contacts__title {
        @include size(279px, 90px);
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $color-light-xl;
      }

      .footer-contacts__email{
        display: flex;
        margin-top: 40px;
        text-decoration: none;

        .footer-contacts-email__email {
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: $color-primary;
          padding-left: 20px;
          padding-top: 5px;
        }
      }

      .footer-contacts__telephone {
        display: flex;
        margin-top: 33px;
        padding-top: 10px;
        text-decoration: none;

        .footer-contacts-telephone__telephone {
          font-size: 20px;
          line-height: 115%;
          color: $color-primary;
          padding-left: 20px;
          border-bottom: none;
          padding-top: 5px;
          letter-spacing: 0.06em;
        }
      }
    }

    .footer__location {
      margin-top: 35px;
      margin-left: -10px;
      text-decoration: none;

      .footer-location__title {
        @include size(271px, 90px);
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $color-light-xl;
      }

      .footer-location__usa,
      .footer-location__london {
        display: flex;
        margin-top: 32px;
        text-decoration: none;

        h4 {
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: $color-primary;
          padding-left: 17px;
        }
      }

      .footer-location__london {
        padding-top: 4px;
      }
    }

    .footer__img {
      @include size(300px, 310px);
      margin-top: 13px;
    }
  }

  .footer-hover:hover {
    opacity: 0.7;
  }
}

// 768 px ****************************************/
@media screen and (max-width: $main-width-middle) {
  .wrapper {
    @include size($main-width-middle, 1165px);
    background: url(../../../assets/images/start-screen-background-768.jpg);
  }
  .header {
    @include size($main-width-middle, 120px);
    margin-left: 0;

    .header__content {
      @include size(708px, 0);
      margin-left: 30px;
    }
  }
  .not-only {
    .not-only__content {
      display: grid;
      grid-template-columns: 1fr;
      width: $main-width-middle;

      .not-only__text {
        margin: 29px 20%;

        .not-only__button{
          margin-left: 27.3%;
        }
      }

      .not-only__img {
        @include size(569px, 593px);
        margin: 72px 0px 0px 169px;
      }
    }
  }
  .about {
    @include size($main-width-middle, 1048px);

    .about__content {
      width: 437px;
      flex-flow: column wrap;
      margin: 81px 164px;

      .about-text {
        @include size(436px, 380px);
        max-width: 434px;
        order: 1;
        padding: 0;
      }

      .about__img {
        margin-top: 80px;
        order: 2;
        margin-left: 0;
      }
    }
  }
  .our-friend {
    @include size($main-width-middle, 877px);
    margin-top: -81px;

    .our-friend__content {
      width: 708px;
      margin: 0 31px;

      .our-friend-slider {
        width: 729px;
        padding-left: 16px;

        .our-friend-card:nth-child(3) {
          margin: 0 20px 0 41px;
        }

        .card-3 {
          display: none;
        }

        .slider__btn-left {
          margin-right: 13px;
        }

        .slider__btn-right {
          margin-left: -9px;
        }
      }
    }
  }
  .help {
    @include size($main-width-middle, 779px);
    .help__content {
      width: $main-width-middle;
     .help__list {
       @include size(768px, 449px);
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-row-gap: 55px;

       .help-list__item:first-child {
         margin-bottom: 0;
       }

       .help-list__item:not(:first-child) {
         margin: 0;
       }

       .help-list__item:nth-child(n + 6) {
         margin: 0;
       }

       .help-list__item:nth-child(3n + 1) {
         margin-left: 53px;
       }

       .help-list__item:nth-child(3n + 3) {
         margin-right: 53px;
       }
     }
    }
  }
  .in-addition {
    @include size($main-width-middle, 783px);

    .in-addition__content {
      width: 505px;
      flex-flow: column wrap;
      margin: 0 102px;

      .in-addition__information {
        order: 1;
      }

      .in-addition-content__img {
        margin-top: 60px;
        margin-left: 28px;
        order: 2;
      }
    }
  }
  .footer {
    @include size($main-width-middle, 639px);
    background: url("./../../../assets/images/footer-gradient-background-768.png");

    .footer__content {
      @include size(688px, 609px);
      dispay: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 120px;
      padding: 21px 40px 0px 40px;

      .footer__contacts {
        margin-left: 25px;
        margin-top: 9px;

        .footer-contacts-email__email {
          padding-top: 4px;
        }
      }

      .footer__location {
        margin-left: -252px;
        margin-top: 11px;
        max-width: 302px;

        .footer-location__usa {
          margin-top: 8px;

          .footer-location-usa__icon {
            padding-top: 19px;
          }

          h4 {
            padding-left: 21px;
            margin-top: 25px;
          }

        }

        .footer-location__london {
          .footer-location-london__address {
            margin-left: 4px;
          }

          .footer-location-london__icon {
            margin-top: -6px;
          }
        }

      }
      .footer__img {
        margin-top: -57px;
        padding-left: 195px;
        @include size (300px,315px);
      }
    }
  }
}

// 320 *********************************************////
@media screen and (max-width: $main-width-little) {
  .wrapper {
    @include size($main-width-little, 823px);
    background: url(../../../assets/images/start-screen-background-320.jpg);
  }
  .header {
    @include size($main-width-little, 120px);

    .header__content {
      @include size(300px, 60px);
      padding-top: 30px;
      margin-left: 10px;
      display: flex;

      .nav-menu {
        display: none;
      }

      .header-lines {
        display: flex;
        flex-direction: column;
        width: 30px;
        height: 22px;
        margin-right: 40px;

        .line-1, .line-2, .line-3 {
          border-bottom: 2px solid $color-primary;
        }

        .line-2, .line-3 {
          padding-top: 8px;
        }
      }
    }
  }
  .not-only {
    .not-only__content {
      display: grid;
      grid-template-columns: 1fr;
      width: $main-width-little;
      margin-top: 1px;

      .not-only__text {
        @include size(300px, 296px);
        margin: 30px 0 30px 10px;

        .not-only__title {
          font-size: 25px;
          text-align: center;
          letter-spacing: 0.06em;
          margin-left: -5px;
        }

        .not-only__subtitle {
          text-align: center;
        }

        .not-only__button{
          margin-left: 15.3%;
          line-height: 110%;
        }
      }

      .not-only__img {
        @include size(260px, 272px);
        margin: 75px 0 0 15.625%;
      }
    }
  }
  .about {
    @include size($main-width-little, 974px);

    .about__content {
      width: 300px;
      flex-flow: column wrap;
      margin: 42px 10px;

      .about-text {
        @include size(300px,494px);
        max-width: 300px;
        order: 1;
        padding: 0;

        .about__title {
          width: 293px;
          font-size: 25px;
          text-align: center;
          margin-left: 4px;
        }

        .about__subtitle, .about__subheading {
          text-align: justify;
          width: 275px;
          margin-left: 14px;
        }

        .about__subheading {
          margin-top: -3px;
        }
      }

      .about__img {
        @include size(260px,354px);
        margin-top: 42px;
        order: 2;
        margin-left: 0;
      }
    }
  }
  .our-friend {
    @include size($main-width-little, 791px);
    margin-top: -42px;

    .our-friend__content {
      width: 300px;
      margin-left: 9px;

      .our-friend__title {
        width: 300px;
        font-size: 25px;
        margin-top: -12.8%;
        margin-left: 2px;
      }

      .our-friend-slider {
        width: 270px;
        margin-top: -54px;
        margin-left: -6%;

        .our-friend-card:nth-child(2) {
          order: 1
        }

        .card-2, .card-3 {
          display: none;
        }

        .slider__btn-left {
          margin-top: 524px;
          margin-left: -84%;
          order: 2;
        }

        .slider__btn-right {
          margin-top: 524px;
          margin-left: 25%;
          order: 3;
        }
      }

      .our-friend__btn {
        margin-top: -6%;
      }
    }
  }
  .help {
    @include size($main-width-little, 745px);
    .help__content {
      width: $main-width-little;
      .help__title {
        font-size: 25px;
        margin-top: -38px;
        margin-bottom: 42px;
        width: 222px;
      }

      .help__list {
        @include size($main-width-little, 555px);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;

        .help-list__img {
          max-width: 50px;
          margin-bottom: 20px;
        }

        .help-list__text {
          font-size: 15px;
        }

        .help-list__item:first-child {
          margin-bottom: 0;
        }

        .help-list__item:not(:first-child) {
          margin: 0;
        }

        .help-list__item:nth-child(n + 6) {
          margin: 0;
        }

        .help-list__item:nth-child(3n + 1) {
          margin-left: 0;
        }

      }
    }
  }
  .in-addition {
    @include size($main-width-little, 542.2px);

    .in-addition__content {
      width: 300px;
      flex-flow: column wrap;
      margin: 0;

      .in-addition__information {
        order: 1;
        width: 300px;
        margin: -38px -3px;

        .in-addition__title {
          font-size: 25px;
          text-align: center;
          margin-bottom: 4px;
        }

        .in-addition__subheading {
          letter-spacing: 0;
          text-align: center;
          margin-bottom: 22px;
        }

        .in-addition__credit-card {
          width: 281px;
          padding: 0;
          margin: 3px 9px;

          .in-addition-credit-card__content {
            font-size: 15px;
          }
        }
        .in-addition__legal-info {
          text-align: justify;
          width: 279px;
          margin-left: 10px;
        }
      }

      .in-addition-content__img {
        @include size(260px, 135.2px);
        margin: 79px 30px 0;
        order: 2;
      }
    }
  }
  .footer {
    @include size(320px, 898px);
    background-image: url("./../../../assets/images/footer-gradient-background-320px.png");

    .footer__content {
      display: grid;
      grid-template-columns: 1fr;
      width: 240px;

      .footer__contacts {
        margin: 10px -18px;

        .footer-contacts__title {
          text-align: center;
        }

        .footer-contacts__email, .footer-contacts__telephone {
          margin-left: -1px;
        }
      }
      .footer__location {
        margin: -88px -15px;

        .footer-location__title {
          text-align: center;
        }

        .footer-location__usa{
          margin-left: -15px;

          .footer-location-usa__address {
            width: 260px;
            height: 48px;
            font-size: 20px;
            line-height: 115%;
          }
        }
        .footer-location__london {
          margin-left: -16px;
        }
      }
      .footer__img  {
        @include size(260px,273px);
        margin: 58px -227px -23px -204px;
      }
    }
  }
}
