body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: white;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  font-family: Georgia, serif;
  width: 207px;
  height: 52px;
  padding: 0;
  background: none;
  border-radius: 26px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4c4c4c;
  transition: 0.2s;
}

.header {
  width: 1280px;
  height: 120px;
  background: white;
  display: flex;
  position: fixed;
  margin-left: 16.4%;
  margin-top: -120px;
}
.header .header__content {
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: normal;
}
.header .logo .logo__title {
  font-family: Georgia, serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 0 11px 0;
}
.header .logo .logo__subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}
.header .nav-menu {
  display: flex;
  margin-right: 0%;
}
.header .nav-menu .nav-menu__item {
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}
.header .nav-menu .nav-menu__item:hover {
  color: #292929;
}
.header .nav-menu .nav-menu__item.active, .header .nav-menu .nav-menu__item:active {
  border-bottom: 3px solid #f1cdb3;
}
.header .nav-menu .nav-menu__item.active, .header .nav-menu .nav-menu__item:hover {
  color: #292929;
}
.header .nav-menu .nav-menu__item:not(:first-child) {
  margin-left: 35px;
}
.header .header-lines {
  display: none;
}

.our-friends {
  width: 1280px;
  height: 1342px;
  background: #f6f6f6;
  margin: 0 auto;
  margin-top: 120px;
}
.our-friends .block-main {
  width: 1200px;
  height: 1162px;
  padding: 83px 40px 100px 40px;
}
.our-friends .block-main .main-article {
  width: 400px;
  height: 85px;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
}
.our-friends .block-main .card-pets {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  color: #545454;
}
.our-friends .block-main .card-pets .card-pet {
  width: 270px;
  height: 435px;
  background: #fafafa;
  border-radius: 9px;
  margin-top: 60px;
}
.our-friends .block-main .card-pets .card-pet img {
  width: 270px;
  height: 270px;
}
.our-friends .block-main .card-pets .card-pet .pet-name {
  display: flex;
  justify-content: center;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
}
.our-friends .block-main .card-pets .card-pet button {
  width: 187px;
  margin-left: 41.5px;
  margin-top: 30px;
  border: 2px solid #f1cdb3;
}
.our-friends .block-main .card-pets .card-pet button:hover {
  background: #fddcc4;
}
.our-friends .block-main .card-pets .card-pet:hover {
  background: white;
}
.our-friends .block-main .card-pets-list2 {
  margin-top: -30px;
}
.our-friends .block-arrows {
  width: 340px;
  height: 52px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.our-friends .block-arrows .btn-item {
  width: 52px;
  height: 52px;
  padding: 0;
  border: 2px solid #f1cdb3;
  color: #cdcdcd;
  font-size: 20px;
}
.our-friends .block-arrows .btn-item.prev {
  border: 2px solid #cdcdcd;
  background: none;
}
.our-friends .block-arrows .btn-item.active {
  background: #f1cdb3;
  color: #292929;
}
.our-friends .block-arrows .btn-item.active:hover {
  background: #fddcc4;
}
.our-friends .block-arrows .btn-item.next {
  background: none;
  color: #292929;
}
.our-friends .block-arrows .btn-item.next:hover {
  background: #fddcc4;
}
.our-friends .block-arrows .arrowsBtn {
  background-color: #f1cdb3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin: 60px auto;
}

.footer {
  background: url(../../../assets/images/footer-background.png);
  width: 1280px;
  height: 350px;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  margin: 0 auto;
}
.footer .footer__content {
  height: 310px;
  padding: 21px 40px 0px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 160px;
}
.footer .footer__content .footer__contacts {
  margin-top: 35px;
}
.footer .footer__content .footer__contacts .footer-contacts__title {
  width: 279px;
  height: 90px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: white;
}
.footer .footer__content .footer__contacts .footer-contacts__email {
  display: flex;
  margin-top: 40px;
  text-decoration: none;
}
.footer .footer__content .footer__contacts .footer-contacts__email .footer-contacts-email__email {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 20px;
  padding-top: 5px;
}
.footer .footer__content .footer__contacts .footer-contacts__telephone {
  display: flex;
  margin-top: 33px;
  padding-top: 10px;
  text-decoration: none;
}
.footer .footer__content .footer__contacts .footer-contacts__telephone .footer-contacts-telephone__telephone {
  font-size: 20px;
  line-height: 115%;
  color: #f1cdb3;
  padding-left: 20px;
  border-bottom: none;
  padding-top: 5px;
  letter-spacing: 0.06em;
}
.footer .footer__content .footer__location {
  margin-top: 35px;
  margin-left: -10px;
  text-decoration: none;
}
.footer .footer__content .footer__location .footer-location__title {
  width: 271px;
  height: 90px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: white;
}
.footer .footer__content .footer__location .footer-location__usa,
.footer .footer__content .footer__location .footer-location__london {
  display: flex;
  margin-top: 32px;
  text-decoration: none;
}
.footer .footer__content .footer__location .footer-location__usa h4,
.footer .footer__content .footer__location .footer-location__london h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 17px;
}
.footer .footer__content .footer__location .footer-location__london {
  padding-top: 4px;
}
.footer .footer__content .footer__img {
  width: 300px;
  height: 310px;
  padding-top: 18px;
}
.footer .footer-hover:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .header {
    width: 768px;
    height: 120px;
    position: fixed;
    margin-left: 0;
  }
  .header .header__content {
    width: 708px;
    margin-left: 30px;
  }

  .our-friends {
    width: 768px;
    height: 1733px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .our-friends .block-main {
    margin-top: -10px;
    width: 580px;
    height: 1365px;
  }
  .our-friends .block-main .card-pets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -20px;
  }
  .our-friends .block-main .card-pets .card-pet-3,
.our-friends .block-main .card-pets .card-pet-4 {
    margin-top: -11px;
  }
  .our-friends .block-main .card-pets .card-pet-7,
.our-friends .block-main .card-pets .card-pet-8 {
    display: none;
  }
  .our-friends .block-main .card-pets-list2 {
    margin-top: -30px;
  }
  .our-friends .block-main .block-arrows .arrowsBtn {
    margin: 40px auto;
  }

  .footer {
    width: 768px;
    height: 639px;
    background-image: url("./../../../assets/images/footer-gradient-background-768.png");
  }
  .footer .footer__content {
    width: 688px;
    height: 609px;
    dispay: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 120px;
  }
  .footer .footer__content .footer__contacts {
    margin-left: 25px;
    margin-top: 9px;
  }
  .footer .footer__content .footer__contacts .footer-contacts-email__email {
    padding-top: 4px;
  }
  .footer .footer__content .footer__location {
    margin-left: -252px;
    margin-top: 11px;
    max-width: 302px;
  }
  .footer .footer__content .footer__location .footer-location__usa {
    margin-top: 8px;
  }
  .footer .footer__content .footer__location .footer-location__usa .footer-location-usa__icon {
    padding-top: 19px;
  }
  .footer .footer__content .footer__location .footer-location__usa h4 {
    padding-left: 21px;
    margin-top: 25px;
  }
  .footer .footer__content .footer__location .footer-location__london .footer-location-london__address {
    margin-left: 4px;
  }
  .footer .footer__content .footer__location .footer-location__london .footer-location-london__icon {
    margin-top: -6px;
  }
  .footer .footer__content .footer__img {
    margin-top: -77px;
    padding-left: 195px;
    width: 300px;
    height: 315px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    width: 320px;
    height: 120px;
  }
  .header .header__content {
    width: 300px;
    height: 60px;
    padding-top: 30px;
    margin-left: 10px;
    display: flex;
  }
  .header .header__content .nav-menu {
    display: none;
  }
  .header .header__content .header-lines {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 22px;
    margin-right: 40px;
  }
  .header .header__content .header-lines .line-1, .header .header__content .header-lines .line-2, .header .header__content .header-lines .line-3 {
    border-bottom: 2px solid #000000;
  }
  .header .header__content .header-lines .line-2, .header .header__content .header-lines .line-3 {
    padding-top: 8px;
  }

  .our-friends {
    width: 320px;
    height: 1630px;
  }
  .our-friends .block-main {
    width: 300px;
    height: 1560px;
    padding: 40px 10px 0px 10px;
  }
  .our-friends .block-main .main-article {
    width: 300px;
    height: 64px;
    font-size: 25px;
    margin: 9px 9px 0;
  }
  .our-friends .block-main .card-pets {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 15px 0px 15px;
    margin-top: -11px;
  }
  .our-friends .block-main .card-pets .card-pet-3 {
    margin-top: -11px;
  }
  .our-friends .block-main .card-pets .card-pet-5 {
    margin-top: 42px;
  }
  .our-friends .block-main .card-pets .card-pet-2, .our-friends .block-main .card-pets .card-pet-4, .our-friends .block-main .card-pets .card-pet-6, .our-friends .block-main .card-pets .card-pet-7, .our-friends .block-main .card-pets .card-pet-8 {
    display: none;
  }
  .our-friends .block-main .block-arrows {
    width: 0;
    margin: 0;
  }
  .our-friends .block-main .block-arrows .arrowsBtn {
    display: grid;
    grid-gap: 10px;
    margin-top: 30px;
  }

  .footer {
    width: 320px;
    height: 943px;
    background-image: url("./../../../assets/images/footer-gradient-background-320px.png");
  }
  .footer .footer__content {
    display: grid;
    grid-template-columns: 1fr;
    width: 240px;
  }
  .footer .footer__content .footer__contacts {
    margin: 10px -18px;
  }
  .footer .footer__content .footer__contacts .footer-contacts__title {
    text-align: center;
  }
  .footer .footer__content .footer__contacts .footer-contacts__email, .footer .footer__content .footer__contacts .footer-contacts__telephone {
    margin-left: -1px;
  }
  .footer .footer__content .footer__location {
    margin: -88px -15px;
  }
  .footer .footer__content .footer__location .footer-location__title {
    text-align: center;
  }
  .footer .footer__content .footer__location .footer-location__usa {
    margin-left: -15px;
  }
  .footer .footer__content .footer__location .footer-location__usa .footer-location-usa__address {
    width: 260px;
    height: 48px;
    font-size: 20px;
    line-height: 115%;
  }
  .footer .footer__content .footer__location .footer-location__london {
    margin-left: -15px;
  }
  .footer .footer__content .footer__img {
    margin: 39px -227px -23px -227px;
  }
}

/*# sourceMappingURL=style.css.map */
