/*main info*/
.wrapper {
    width: 1600px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255,255,255);
    text-align: center;
    position: relative;
    top: -14px;
    left: -9px;
}

button {
    width: 184px;
    height: 46px;
    border: none;
    background: #00AFDB;
    padding: 15px 30px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
}

button:hover {
    background: mediumorchid;
    cursor: pointer;
}

/*first block*/

.bg-image-wrapper {
    /*color: #FFFFFF;*/
    background-image: url(./assets/images/bg-image.png);
    height: 744px;
    width: 1600px;
}

.header {
    width: 800px;
    height: 95px;
    margin: 10px auto 0;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /*padding-top: 24px;*/
    width: 44px;
    height:45px;
    color: #FFFFFF;
}

.navbar li {
    line-height: 97px;
    margin: 0 50px;
}

.navbar li:first-child {
    margin-left: 91px;/**/
    margin-right: 53px;/**/
}

.navbar li:last-child {
    margin-right: 130px;
    margin-left: 36px;
}

.navbar li:hover {
    color: aquamarine;
    font-size: 18px;
    cursor: pointer;
}

.navbar li:nth-child(3) {
    line-height: 0px;
}

.active-mnu-item {
    text-decoration: underline;
}

.active-second-item {
    color: rgba(255,255,255,0.8);
}

.your-life {
    margin: 0 auto;
}

.your-life-is-webdev__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 45px;
    letter-spacing: 4.5px;
    width: 750px;
    height: 75px;
    display: flex;
    /* align-items: center; */
    text-align: center;
    text-transform: uppercase;
    margin: 149px auto 0;
}

.your-life__text p{
    font-size: 18px;
    line-height: 25px;
    width: 504px;
    height: 50px;
    margin: 6px auto 28px;
}

.your-life__btn-main {
    font-weight: bold;
    line-height: 16px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2px;
    margin-left: 1px;
}

.socials {
    margin: 180px auto 30px;
    position: relative;
    left: 5px;
}

.socials li {
    display: inline;
    list-style: none;
    margin: 13.6px;
}

.socials img:hover {
    cursor: pointer;
    transform: scale(1.5);
}

/*rapresent*/

.rappresent {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    height: 842px;
}

.rappresent__content-block {
    color: black;
    display: flex;
   /* margin-left: 269px;*/
    flex-direction: column;
}

.rappresent__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    font-style: normal;
    letter-spacing: 1px;
    color: rgba(55,55,55,1);
    margin-top: 295px;
    margin-left: 2px;
    width: 390px;
    height: 57px;
    text-align: left;
    text-transform: uppercase;
}

.rappresent__text {
    width: 407px;
    height: 80px;
    line-height: 20px;
    text-align: left;
    margin: 20px 0 30px 1px;
}

.rappresent strong{
    font-weight: bold;
}

.rappresent__btn {
    margin-left: 2px;
}

.rappresent__img {
    margin-top: 120px;
    margin-left: -20px;
    width: 407px;
    height: 582px;
}

/* */

.our-community {
    display: flex;
    color: #373737;
    width: 1600px;
    height: 504px;
    background: #F5F6F7;

}

.our-community__user-card {
    margin: 155px 139px 0 269px;
}

.our_community__title {
    width: 165px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 17px;
    margin-left: 66px;
    margin-bottom: -3px;
}

.our-community__user-card p {
    width: 298px;
    height: 80px;
    line-height: 20px;
    color: rgba(78,78,78,1);
    margin-top: 10px;
}


.our-community__images-block {
    display: flex;
    flex-direction: column;
    margin-top: 78px;
    margin-right: 0;
    width: 1300px;
    height: 504px;
    flex-wrap: nowrap;
}

.slider-nav-items {
    height: 25px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -112px;
}

.arrow-left {
    margin-right: 12px;
    font-size: 20px;
}

.arrow-left:hover {
    color: aquamarine;
}

.arrow-right {
    margin-left: 12px;
    font-size: 20px;
}

.arrow-right:hover {
    color: aquamarine;
}

.our-community__slider-items {
    display: flex;
}

.our-community__slider-item {
    width: 407px;
    height: 244px;
    margin: 0 15px 0 15px;
    overflow: hidden;
}

.our-community__slider-item:first-child {
    margin-left: 0;
}

.our-community__slider-item:last-child {
    /* width: 18px; */
    height: 244px;
    overflow: hidden;
    margin-right: 0;
}

/**/

.implement {
    display: flex;
    height: 857px;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-top: -18px;
}

.implement__content-block b {
    font-weight: bold;
}

.implement__content-image {
    width: 407px;
    height: 582px;
    margin-right: 60px;
    margin-left: -110px;
    top: 120px;
}

.implement__content-block {
    margin: -16px 0 0 79px;
}

.implement__title {
    width: 320px;
    height: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(55,55,55,1);
    text-align: left;
    margin-bottom: 21px;
}

.implement__content-block p {
    width: 407px;
    height: 60px;
    color: #4E4E4E;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
}

.implement__btn-main {
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;
}

/*sign-up*/

.sign-up {
    margin: 3px auto 0;
    width: 1600px;
    height: 524px;
    background-image: url(./assets/images/pexels-christina-morillo.png);
    display: flex;
    justify-content: center;
}

.sign-up__form {
    padding-top: 198px;
    justify-content: center;
    color: #FFFFFF;
}

.sign-up__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 382px;
    height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 15px;
}

.sign-up__input {
    width: 314px;
    height: 41px;
    margin-top: 30px;
    margin-left: 1px;
    color: #373737;
    padding-left: 22px;
}

.sign-up__btn-submit {
    width: 66px;
    height: 46px;
    margin-top: 30px;
}

.sign-up__input-block {
    display: flex;
}

.sign-up__btn-submit:hover {
    cursor: pointer;
    border-radius: 10px;
}